	div{
		background-color: orange;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		border-radius: 10px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	
	body{
	background-image: url('clash2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	}

	ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			overflow: hidden;
			background-color: black;
			}
	.text{
		float: left;
		
	}
	
	.wizard {
		margin-top: 20px;
	}
	
		li{
			float: left;
			width: 200px;
			}
			
			li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			}
			
		
			
			li a:hover:not('.current'){
			background-color: green;
			
			}
			.current {
			background-color: #E60019;
			}
			
			div:not('image'){
				opacity:0.8;
			}
			
			table,th, td{
		border-bottom: 1px solid #DDDDDD;
		text-align: center;
		}
		
		table{
		border-collapse: collapse;
		width: 400px;
		border: 5px solid black;
		}
		
		tr:nth-child(odd) {
		background-color: #FF7C3B;
		
		}
		
		tr:nth-child(even) {
		background-color: #9350FB;
		}
		
		th,td{
		padding:10px;
		}
		
		th{
		background-color: black;
		color: white;
		}
		
		td:hover{
		background-color: #69D2E7;
		color: white;
		}
		
		h1,h3{
		font-family: Verdana;
		}
	
		th,td,p,li{
		font-family: Open Sans;	
		}
		
		p{
		font-size: 20px;
		}
	
	